<a href="https://colab.research.google.com/github/Luj2000/Luj2000/blob/main/Python_d1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## python

In [51]:
a= '14'

In [14]:
print(float(33))

33.0

In [15]:
c, d = eval(input("Enter two numbers separated by a comma: "))
print(c, d)

Enter two numbers separated by a comma: 2,2
2 2

In [16]:
b= ("lujain")

In [17]:
a+b

'14lujain'

In [18]:
 count = 2
 people = "There are {} people.".format(count) 
 print(people)

There are 2 people.

In [19]:
count = 2
people = "There are {} people.".format(count) 
print(people)

There are 2 people.

In [20]:
# Calculate air speed velocity in mph
distance = 22  # distance in miles
time = 5  # time elapsed in hours

mph = distance / time

print("The air speed velocity is {:.2f} miles per hour.".format(mph))

The air speed velocity is 4.40 miles per hour.

In [23]:
list1 = ['apple', 'banana', 'cherry', 'mango', "5"]
list1= list(list1)
list1[0]=677
list1=tuple(list1)
print (list1)

(677, 'banana', 'cherry', 'mango', '5')

In [24]:
list1 = ["fatima", 20, 15, True, 67, 10]
list1_tuple = tuple(list1)
list1[0] = 6777
print(list1)

[6777, 20, 15, True, 67, 10]

In [25]:

list2 = {1,2,3,4,5,6,7,8,9}
range(1,3,2)

range(1, 3, 2)

In [26]:
# Print the numbers from 0 to 9
for i in range(10):
    print(i)

# Print the numbers from 1 to 10
for i in range(1, 11):
    print(i)

# Print the numbers from 0 to 10, in steps of 2
for i in range(0, 11, 2):
    print(i)

0
1
2
3
4
5
6
7
8
9
1
2
3
4
5
6
7
8
9
10
0
2
4
6
8
10

In [27]:
my_list = [20, 10, 30, 10]
my_list.append(5)
print (my_list)

[20, 10, 30, 10, 5]

In [28]:
my_list.index(30)
my_list.remove(5)
print(my_list)

[20, 10, 30, 10]

In [29]:
my_list = [10, 20, 30, 40, 50]

# Clear the list
my_list.clear()
print(my_list)  # Output: []

[]

In [30]:
my_list = [10, 20, 30]

# Add the element 40 to the end of the list
my_list.append(40)
print(my_list)  # Output: [10, 20, 30, 40]

[10, 20, 30, 40]

In [31]:
my_list = [10, 20, 30]

# Remove and return the element at index 1
element = my_list.pop(1)
print(element)  # Output: 20
print(my_list)  # Output: [10, 30]

# Remove and return the last element
element = my_list.pop()
print(element)  # Output: 30
print(my_list)  # Output: [10]

20
[10, 30]
30
[10]

In [32]:
my_list = [10, 20, 30]

# Add the elements 40 and 50 to the end of the list
my_list.extend([40, 50])
print(my_list)  # Output: [10, 20, 30, 40, 50]

[10, 20, 30, 40, 50]

In [33]:
dick = {"john": 5512, "Terry":444, "ferd":6666}
dick["Terry"]

444

In [34]:
# Create a dictionary with some key-value pairs
my_dict = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# Access the value associated with the key "name"
name = my_dict["name"]
print(name)  # Output: "John"

# Modify the value associated with the key "age"
my_dict["age"] = 35
print(my_dict)  # Output: {'name': 'John', 'age': 35, 'city': 'New York'}

# Add a new key-value pair to the dictionary
my_dict["country"] = "USA"
print(my_dict)  # Output: {'name': 'John', 'age': 35, 'city': 'New York', 'country': 'USA'}

# Remove a key-value pair from the dictionary
del my_dict["city"]
print(my_dict)  # Output: {'name': 'John', 'age': 35, 'country': 'USA'}

John
{'name': 'John', 'age': 35, 'city': 'New York'}
{'name': 'John', 'age': 35, 'city': 'New York', 'country': 'USA'}
{'name': 'John', 'age': 35, 'country': 'USA'}

In [35]:
print()

In [36]:
# Create a set with some elements
my_set = {10, 20, 30, 40, 50}

# Check if an element is in the set
print(10 in my_set)  # Output: True
print(15 in my_set)  # Output: False

# Add an element to the set
my_set.add(60)
print(my_set)  # Output: {10, 20, 30, 40, 50, 60}

# Remove an element from the set
my_set.remove(40)
print(my_set)  # Output: {10, 20, 30, 50, 60}

# Find the intersection of two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection = set1 & set2
print(intersection)  # Output: {3, 4}

# Find the union of two sets
union = set1 | set2
print(union)  # Output: {1, 2, 3, 4, 5, 6}

# Find the difference between two sets
difference = set1 - set2
print(difference)  # Output: {1, 2}

True
False
{50, 20, 40, 10, 60, 30}
{50, 20, 10, 60, 30}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2}

In [37]:
print(10 in my_set)

True

In [38]:
print(18 in my_set)

False

In [39]:
print(intersection)

{3, 4}

In [40]:
print(union)

{1, 2, 3, 4, 5, 6}

In [41]:
print(difference)

{1, 2}

In [42]:
if a + b == c:
  if b + c == a:
    print("Success!")
  else:
    print("Faillure")
else:
  print("Faillur")

Faillur

In [43]:
if a + b == c and b + c == a:
    print("Success!")
else:
    print("Faillure")

Faillure

In [50]:


# Use is to check if two variables refer to the same object
x = [1, 2, 3]
y = [1, 2, 3]
print(x is y)  # Output: False

y = x
print(x is y)  # Output: True

# Use not to negate a boolean value
if not True:
    print("True")  # This code is not executed because not True is False

if not False:
    print("True")  # Output: True

# Use and to check if both operands are True
if True and True:
    print("True")  # Output: True

if True and False:
    print("True")  # This code is not executed because the second operand is False

# Use or to check if either operand is True
if True or True:
    print("True")  # Output: True

if True or False:
    print("True")  # Output: True

if False or False:
    print("True")  # This code is not executed because both operands are False

# Use < to check if the left operand is less than the right operand
if 10 < 5:
    print("True")  # This code is not executed because 10 is not less than 5

if 5 < 10:
    print("True")  # Output: True

# Use > to check if the left operand is greater than the right operand
if 10 > 5:
    print("True")  # Output: True

if 5 > 10:
    print("True")  # This code is not executed because 5 is not greater than 10

False
True
True
True
True
True
True
True